body {
  font-family: "Share Tech Mono", monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
  background-image: url("https://i.yapx.ru/KDU0R.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.timer {
  display: flex;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.title {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 60px;
  font-size: 80px;
}

.field {
  letter-spacing: 0.05em;
  font-size: 40px;
  padding: 5px 0;
}
